################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/驱动程序与钱包/neoHardWallet/.vs/driver/v15/Server/sqlite3/db.lock
/驱动程序与钱包/neoHardWallet/.vs/driver/v15/Server/sqlite3/storage.ide
/驱动程序与钱包/neoHardWallet/.vs/driver/v15/Server/sqlite3/storage.ide-shm
/驱动程序与钱包/neoHardWallet/.vs/driver/v15/Server/sqlite3/storage.ide-wal
/驱动程序与钱包/neoHardWallet/.vs/driver/v15/sqlite3/db.lock
/驱动程序与钱包/neoHardWallet/.vs/driver/v15/sqlite3/storage.ide-shm
/驱动程序与钱包/neoHardWallet/.vs/driver/v15/sqlite3/storage.ide-wal
/驱动程序与钱包/neoHardWallet/.vs
/驱动程序与钱包/neoHardWallet/llvm/obj
/驱动程序与钱包/neoHardWallet/llvm/bin
/驱动程序与钱包/neoHardWallet/thinSDK/obj
/驱动程序与钱包/neoHardWallet/thinSDK/bin
/驱动程序与钱包/neoHardWallet/thinSDK_neo/obj
/驱动程序与钱包/neoHardWallet/thinSDK_neo/bin
